body {
	background-image: url("https://images.unsplash.com/photo-1580596090683-f4711170117b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2734&q=80");
	height: 100%;
	background-position: center;
	background-repeat:no-repeat;
	background-size: cover;
	font-family: 'Source Code Pro', monospace;
	background-color: rgba(0, 0, 0, .3);
}

h1 {
	text-transform: uppercase;
	font-size: 25px;
	text-align: center;
	padding: 10px;
}

li {
	padding-left: 10px;
	padding-right: 10px;
} 

p {
	background-color: white;
	opacity: .95;
	padding-left: 10px;
	padding-right: 10px;
}

.limited_edition {
	padding: 15px;
}

.site_header {
	background-color: white;	
	display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    padding-right: 60px;
} 

.nav_bar {
	display: flex;
	flex-direction: row;
  	justify-content: space-between; 
  	align-items: center;
    padding: 0;
    margin: 0;
}

.mission {
	padding: 10px;
}

.dropbtn {
	background-color: white;
	color: black;
	padding: 16px;
	font-size: 16px;
	border: none;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	background-color: blanchedalmond;
}

.dropdown:hover .dropdown-content {	
	display: block;
}

.dropdown:hover .dropbtn {	
	background-color: burlywood;
}

#menu_checkbox {
    margin: 10px;
    height: 100%;
}

#menu_checkbox {
    margin: 10px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

#menu_checkbox div {
    width: 6px;
    height: 6px;
    background-color: black;
    margin-left: 0;
    margin-bottom: 6px;
    border-radius: 4px;
  }

#menu_checkbox div:first-child {
    width: 22px;
}

#menu_checkbox div:nth-child(2) {
    width: 15px;
}

#menu_checkbox div:last-child {
    width: 30px;
    margin-bottom: 0;
}

.buy_now_button{

}

.day_dream_class, .aqua_tofana_class, .amber_haze_class, .eucalyptus_class {
	display: block;
	margin-left: auto;
	margin-right: auto; 
	padding: 10px;
    height: auto;
    max-width: 100%;
} 

.day_dream_title, .amber_haze_title {
	border: 2px solid lightgrey;
}

.aqua_tofana_title {
	border: 3px dashed beige;
}

.eucalyptus_title {
	border: 2px outset darkseagreen;
}

.products_list {
	display: flex; 
   	flex-direction: column;
 	justify-content: space-between;
}
.buy_now_button {
	background-color: white;
	border: 1px solid black;
}
.collapsible {
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: 2px solid whitesmoke;
    text-align: center;
    outline: none;
    font-size: 15px;
}

.active, .collapsible:hover {
    background-color: white;
}

.content {
	padding: 0 18px;
	display: none;
	overflow: hidden;
	background-color: whitesmoke;
}

.mission_text {
	padding: 10px;
	border: 1px solid black;
}

.footer {
	display: flex;
	align-items: center;
}

.btn_primary, .btn_secondary {
	background-color: black;
	color: white;
	opacity: .90;
    bottom: 60px;
    position: fixed;
	right: 10px;
}

.active, .btn:hover {
	background-color: grey;
}

.lower_copyright {
	bottom: 0px;
	align-items: center;
	width: 100%;
}

@media (max-width: 1000px) {
  .nav_bar {
	display: none;
  }
}
@media (min-width: 1000px){
	.hamburger{
		display: none;
	}
}